body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

label {
  display: block;
  margin-bottom: 0.9rem;
}

input[type="number"] {
  width: 100%; /* Define a largura total */
  padding: 10x; /* Adiciona um preenchimento interno */
  border: 1px solid #ccc; /* Adiciona uma borda */
  border-radius: 3px; /* Arredonda as bordas */
  margin-bottom: 10px; /* Adiciona um espaço inferior entre os inputs/selects */
  box-sizing: border-box; /* Garante que a largura inclua o preenchimento e a borda */
  font-size: 16px; /* Define o tamanho da fonte */
}
.imput-container {
  display: flex;
  flex-direction: column;
}

.imput-container input[type="text"],
.imput-container select {
  width: 95%; /* Define a largura total */
  padding: 10px; /* Adiciona um preenchimento interno */
  border: 1px solid #ccc; /* Adiciona uma borda */
  border-radius: 3px; /* Arredonda as bordas */
  margin-bottom: 10px; /* Adiciona um espaço inferior entre os inputs/selects */
  box-sizing: border-box; /* Garante que a largura inclua o preenchimento e a borda */
  font-size: 16px; /* Define o tamanho da fonte */
}
select#unidadeMedida {
  width: 95%; /* Ajuste de largura */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 0px; /* Espaçamento entre o input e o select */
  outline: none;
  font-size: 16px;
  margin-top: 5px;
}
button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  width: 95%;
  font-size: 17px;
  margin-top: 20px;
}

.acao-botao {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.botao-azul {
  background-color: #007bff;
}

.editar-botao {
  /* background-color: #28a745; */
  margin-right: 5px;
  margin-bottom: 10px;
  color: white;
}

.botao-red {
  background-color: #dc3545;
  width: 30%;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.botao-red i {
  font-size: 40px;
}

.botao i {
  font-size: 40px;
}

/* Estilo da Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Espaçamento inferior para a seção da tabela */
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px; /* Ajuste do padding */
  text-align: center;
}

caption {
  font-weight: bold;
  margin-bottom: 10px;
}

.botao {
  width: 30%;
  font-size: 1rem;
  background-color: seagreen;
  border-radius: 5px;
}

footer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

footer p {
  text-align: center;
}

@media screen and (max-width: 767px) {
  button {
    width: 101%;
  }

  table {
    width: 100%;
  }
  .acao-botao {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .botao-red {
    width: 100%;
    background-color: red;
  }
  .editar-botao {
    width: 100%;
    background-color: #28a745;
  }
}
